/* --------
 Fonts - Calibre
  -------------------------------------------- */

@font-face {
  font-family: 'Calibre Web';
  font-weight: 200;
  src: local('Calibre Web Thin'), local('CalibreWeb-Thin'),
  url(../fonts/calibre/CalibreWeb-Thin.woff) format('woff');
}
@font-face {
  font-family: 'Calibre Web';
  font-weight: 200;
  font-style: italic;
  src: local('Calibre Web Thin Italic'), local('CalibreWeb-ThinItalic'),
  url(../fonts/calibre/CalibreWeb-ThinItalic.woff) format('woff');
}
@font-face {
  font-family: 'Calibre Web';
  font-weight: 300;
  src: local('Calibre Web Light'), local('CalibreWeb-Light'),
  url(../fonts/calibre/CalibreWeb-Light.woff) format('woff');
}
@font-face {
  font-family: 'Calibre Web';
  font-weight: 300;
  font-style: italic;
  src: local('Calibre Web Light Italic'), local('CalibreWeb-LightItalic'),
  url(../fonts/calibre/CalibreWeb-LightItalic.woff) format('woff');
}
@font-face {
  font-family: 'Calibre Web';
  font-weight: 400; /* 400 is the same as "normal", which I'm interpreting "regular" as */
  src: local('Calibre Web Regular'), local('CalibreWeb-Regular'),
  url(../fonts/calibre/CalibreWeb-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Calibre Web';
  font-weight: 400; /* 400 is the same as "normal", which I'm interpreting "regular" as */
  font-style: italic;
  src: local('Calibre Web Regular Italic'), local('CalibreWeb-RegularItalic'),
  url(../fonts/calibre/CalibreWeb-RegularItalic.woff) format('woff');
}
@font-face {
  font-family: 'Calibre Web';
  font-weight: 500;
  src: local('Calibre Web Medium'), local('CalibreWeb-Medium'),
  url(../fonts/calibre/CalibreWeb-Medium.woff) format('woff');
}
@font-face {
  font-family: 'Calibre Web';
  font-weight: 500;
  font-style: italic;
  src: local('Calibre Web Medium Italic'), local('CalibreWeb-MediumItalic'),
  url(../fonts/calibre/CalibreWeb-MediumItalic.woff) format('woff');
}
@font-face {
  font-family: 'Calibre Web';
  font-weight: 600;
  src: local('Calibre Web Semibold'), local('CalibreWeb-Semibold'),
  url(../fonts/calibre/CalibreWeb-Semibold.woff) format('woff');
}
@font-face {
  font-family: 'Calibre Web';
  font-weight: 600;
  font-style: italic;
  src: local('Calibre Web Semibold Italic'), local('CalibreWeb-SemiboldItalic'),
  url(../fonts/calibre/CalibreWeb-SemiboldItalic.woff) format('woff');
}
@font-face {
  font-family: 'Calibre Web';
  font-weight: 700; /* 700 is the same as bold */
  src: local('Calibre Web Bold'), local('CalibreWeb-Bold'),
  url(../fonts/calibre/CalibreWeb-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Calibre Web';
  font-weight: 700; /* 700 is the same as bold */
  font-style: italic;
  src: local('Calibre Web Bold Italic'), local('CalibreWeb-BoldItalic'),
  url(../fonts/calibre/CalibreWeb-BoldItalic.woff) format('woff');
}
@font-face {
  font-family: 'Calibre Web';
  font-weight: 900;
  src: local('Calibre Web Black'), local('CalibreWeb-Black'),
  url(../fonts/calibre/CalibreWeb-Black.woff) format('woff');
}
@font-face {
  font-family: 'Calibre Web';
  font-weight: 900;
  font-style: italic;
  src: local('Calibre Web Black Italic'), local('CalibreWeb-BlackItalic'),
  url(../fonts/calibre/CalibreWeb-BlackItalic.woff) format('woff');
}

body {
    font-family: 'Calibre Web', system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande";
  -webkit-font-smoothing: antialiased;
}

.card-box {
    background-color: #fff;
    padding: 1.25rem;
    -webkit-box-shadow: 0 0 35px 0 rgba(73,80,87,.15);
    box-shadow: 0 0 35px 0 rgba(73,80,87,.15);
    margin-bottom: 24px;
    border-radius: 0.75rem;
    margin: 1rem;
}

.card-box > .icon {
    float: right;
}

.card-box h3, h6 {
    margin: 0;
}

h6 {
    font-size: 1rem;
    font-weight: 500;
}
h3 {
    font-size: 2.5rem;
    font-weight: 600;
}

.lh-copy {
    font-size: 1.25rem;
    padding: 0;
}

.header > h1, p {
    margin: 0;
}

.header > h1 {
    font-weight: 600;
}

.country-table {
    padding: 1rem;
}
h1 {
    font-weight: 600;
}
/* --------
Tables
  -------------------------------------------- */

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.table-sm th,
.table-sm td {
  padding: 0.3rem;
}

.table-bordered {
  border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody + tbody {
  border: 0;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

.table-hover tbody tr:hover {
  color: #212529;
  background-color: rgba(0, 0, 0, 0.075);
}

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #b8daff;
}

.table-primary th,
.table-primary td,
.table-primary thead th,
.table-primary tbody + tbody {
  border-color: #7abaff;
}

.table-hover .table-primary:hover {
  background-color: #9fcdff;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
  background-color: #9fcdff;
}

.table-secondary,
.table-secondary > th,
.table-secondary > td {
  background-color: #d6d8db;
}

.table-secondary th,
.table-secondary td,
.table-secondary thead th,
.table-secondary tbody + tbody {
  border-color: #b3b7bb;
}

.table-hover .table-secondary:hover {
  background-color: #c8cbcf;
}

.table-hover .table-secondary:hover > td,
.table-hover .table-secondary:hover > th {
  background-color: #c8cbcf;
}

.table-success,
.table-success > th,
.table-success > td {
  background-color: #c3e6cb;
}

.table-success th,
.table-success td,
.table-success thead th,
.table-success tbody + tbody {
  border-color: #8fd19e;
}

.table-hover .table-success:hover {
  background-color: #b1dfbb;
}

.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
  background-color: #b1dfbb;
}

.table-info,
.table-info > th,
.table-info > td {
  background-color: #bee5eb;
}

.table-info th,
.table-info td,
.table-info thead th,
.table-info tbody + tbody {
  border-color: #86cfda;
}

.table-hover .table-info:hover {
  background-color: #abdde5;
}

.table-hover .table-info:hover > td,
.table-hover .table-info:hover > th {
  background-color: #abdde5;
}

.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: #ffeeba;
}

.table-warning th,
.table-warning td,
.table-warning thead th,
.table-warning tbody + tbody {
  border-color: #ffdf7e;
}

.table-hover .table-warning:hover {
  background-color: #ffe8a1;
}

.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th {
  background-color: #ffe8a1;
}

.table-danger,
.table-danger > th,
.table-danger > td {
  background-color: #f5c6cb;
}

.table-danger th,
.table-danger td,
.table-danger thead th,
.table-danger tbody + tbody {
  border-color: #ed969e;
}

.table-hover .table-danger:hover {
  background-color: #f1b0b7;
}

.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th {
  background-color: #f1b0b7;
}

.table-light,
.table-light > th,
.table-light > td {
  background-color: #fdfdfe;
}

.table-light th,
.table-light td,
.table-light thead th,
.table-light tbody + tbody {
  border-color: #fbfcfc;
}

.table-hover .table-light:hover {
  background-color: #ececf6;
}

.table-hover .table-light:hover > td,
.table-hover .table-light:hover > th {
  background-color: #ececf6;
}

.table-dark,
.table-dark > th,
.table-dark > td {
  background-color: #c6c8ca;
}

.table-dark th,
.table-dark td,
.table-dark thead th,
.table-dark tbody + tbody {
  border-color: #95999c;
}

.table-hover .table-dark:hover {
  background-color: #b9bbbe;
}

.table-hover .table-dark:hover > td,
.table-hover .table-dark:hover > th {
  background-color: #b9bbbe;
}

.table-active,
.table-active > th,
.table-active > td {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
  background-color: rgba(0, 0, 0, 0.075);
}

.table .thead-dark th {
  color: #fff;
  background-color: #343a40;
  border-color: #454d55;
}

.table .thead-light th {
  color: #495057;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.table-dark {
  color: #fff;
  background-color: #343a40;
}

.table-dark th,
.table-dark td,
.table-dark thead th {
  border-color: #454d55;
}

.table-dark.table-bordered {
  border: 0;
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.05);
}

.table-dark.table-hover tbody tr:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.075);
}

@media (max-width: 575.98px) {
  .table-responsive-sm {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-sm > .table-bordered {
    border: 0;
  }
}

@media (max-width: 767.98px) {
  .table-responsive-md {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-md > .table-bordered {
    border: 0;
  }
}

@media (max-width: 991.98px) {
  .table-responsive-lg {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-lg > .table-bordered {
    border: 0;
  }
}

@media (max-width: 1199.98px) {
  .table-responsive-xl {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-xl > .table-bordered {
    border: 0;
  }
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table-responsive > .table-bordered {
  border: 0;
}

  .table {
    border-collapse: collapse !important;
  }
  .table td,
  .table th {
/*    background-color: #fff !important;*/
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #dee2e6 !important;
  }
  .table-dark {
    color: inherit;
  }
  .table-dark th,
  .table-dark td,
  .table-dark thead th,
  .table-dark tbody + tbody {
    border-color: #dee2e6;
  }
  .table .thead-dark th {
    color: inherit;
    border-color: #dee2e6;
  }

.table-curved {
   border-collapse: separate !important;
   border: solid #ddd 1px !important;
   border-radius: 6px !important;
   border-left: 0px !important;
   border-top: 0px !important;
}
.table-curved > thead:first-child > tr:first-child > th {
    border-bottom: 0px;
    border-top: solid #ddd 1px;
}
.table-curved td, .table-curved th {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
.table-curved > :first-child > :first-child > :first-child {
    border-top-left-radius: 6px;
}
.table-curved > :first-child > :first-child > :last-child {
    border-top-right-radius: 6px;
}
.table-curved > :last-child > :last-child > :first-child {
    border-bottom-left-radius: 6px;
}
.table-curved > :last-child > :last-child > :last-child {
    border-bottom-right-radius: 6px;
}

th {
    font-weight: 600;
}

.pagination li {
    display: block;
    padding: 1rem;
}

.pagination li a {
    text-decoration: none;
}


.pagination li a:link {
    color: black;   
}

.pagination {
    display: inline-flex !important;
}

input[type=search] {
        height: 2rem;
    border-radius: 6px;
    border: 1px lightgrey solid;
    outline: none;
    margin-bottom: 1rem;
}

td > img {
    height: 1rem;
    width: 1.5rem;
    border-radius: 2px;
    padding-right: 0.5rem;
}

footer {
    padding: 1rem;
    font-size: 1rem;
}


.mt1 a {
    text-decoration: none;
}

table > td, th, div{
    font-size: 1rem !important;
}

.product-hunt {
    float: right;
}

@media (max-width:480px)  {
    .stat-card {
        width: 100% !important;
    }
    


    }   

table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before {
    margin-right: 5px;
    top:0.5rem;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    margin-left: 5px;
    top: 0.5rem;
}

.table td, .table th {
    background-color: rgba(0,0,0,0) !important;
}

.badge {
    color: #fff;
    float: left;
}

.mr-1, .mx-1 {
    margin-right: .5rem!important;
}
.badge-success {
    color: #fff;
    background-color: #1bb99a;
}

.badge-danger {
    color: #fff;
    background-color: #d9534f;
}
.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}
.text-muted {
    
    float: left;
    font-size: 1.25rem;
}

.up {
    float: left;
    height: 20px;
    padding-right: 0.5rem;
}